	@media screen and (max-device-width: 360px) {

#p1 {

	background: #3498db;
}

#p2{
	background: #fbfcfc;
}

#p3{

	background: #c0392b;
}
 #img{

 	width: 100%;
 }


 #imga{

 	width: 100%;
 	position: center;
 }
h1 {
   font-size: 8vw;
}
html { font-size: 62.5%; } /* 1rem vaut 10px */
body { font-size: 1.6rem; } /* 1.4 rem vaut 14px */

}

#tableau {
		display: block;
		width: 100%;
	}

	/* Table layout for small screen */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    #tableau tr {
        border: 1px solid black ;
        border-bottom: 1px solid black;
        width: auto !important;
    }
    #tableau td {
        border: none;
        position: relative;
        width: auto !important;
        text-align: center;
    }