	@media screen and (max-device-width: 360px) {

#p1 {

	background: #3498db;
}

#p2{
	background: #fbfcfc;
}

#p3{

	background: #c0392b;
}
 #img{

 	width: 100%;
 }


 #imga{

 	width: 100%;
 	position: center;
 }
h1 {
   font-size: 8vw;
}
html { font-size: 62.5%; } /* 1rem vaut 10px */
body { font-size: 1.6rem; } /* 1.4 rem vaut 14px */

}