	@media screen and (max-device-width: 360px) {

#p1 {

	background: #3498db;
}

#p2{
	background: #fbfcfc;
}

#p3{

	background: #c0392b;
}
 #img{

 	width: 100%;
 }


 #imga{

 	width: 300px;
 	position: center;
 }
}