#p1 {

	background: #3498db;
}

#p2{
	background: #fbfcfc;
}

#p3{

	background: #c0392b;
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
